.section {
    background-color: var(--foreground);
    color: var(--background);
    padding-top: 112px;
    max-width: none;
    margin: 0 auto;
}

.section > h3 {
    margin: 0 auto;
    text-align: center;
}

.section > p {
    margin: 0 auto;
    padding-top: 16px;
    text-align: center;
    max-width: 600px;
}

.carousel_wrapper {
    display: flex;
    margin: 80px auto 0;
    max-width: 1280px;
    width: 100%;
    height: 912px;
    overflow: hidden;
    gap: 12px;
}

.carousel_wrapper > figure {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.carousel_wrapper figure img {
    margin: 6px;
    box-shadow: 2px 2px 8px 0px var(--box-shadow);
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* -------------------- Animations -------------------- */
.carousel_wrapper > figure:nth-child(1),
.carousel_wrapper > figure:nth-child(3)  {
    animation: carousel-up 20s linear infinite;
}

.carousel_wrapper > figure:nth-child(2),
.carousel_wrapper > figure:nth-child(4)  {
    animation: carousel-down 20s linear infinite;
}

@keyframes carousel-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-912px);
    }
}

@keyframes carousel-down {
    0% {
        transform: translateY(-912px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1022px) {

}

@media screen and (max-width:766px) {
    .carousel_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px; /* Fixer la hauteur des lignes */
    }

    .carousel_wrapper figure img {
        height: 300px;
    }
}
